{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/activity.css' %}">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="container">
    <div id="tops">
        <a href="{% url 'pageapp:index'%}" class="back_bt">
            <img src="{% static 'img/back_bt.png' %}" alt="Your Image" id="plus">
        </a>
        <p class="top">activity</p>
        <a href="{% url 'activity:upload' %}" class="plus_cont">
            <img src="{% static 'img/plus.png' %}" alt="Your Image" id="plus">
        </a>
    </div>
    
    {% for activity_set in activity_sets %}
        <div class="activity-set">

            <div class="activity-images">
                <h2 class="title">{{ activity_set.activity.title }}</h2>
                <div class="gallery">
                {% for image in activity_set.images %}
                    <img src="{{ image.activityImage.url }}" alt="Activity Image" class="inImage">
                {% endfor %}
                </div>
            </div>
            <div class="right">
                <h3>{{ activity_set.activity.description }}</h3>
                <div class="activity-users">
                    
                    {% for user in activity_set.users %}
                        <p>{{ user.user_id }}</p>
                    {% endfor %}
                </div>

                <div class="activity-user-says">
                    
                    {% for say in activity_set.user_says %}
                        <p>{{ say.user_say }}</p>
                    {% endfor %}
            </div>
            </div>
            
        </div>
        
    {% endfor %}
</div>

{% endblock %}
