.input{
    background-color: white;
    border-radius: 5px;
    
}
label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
    color: #999998;
}

input[type="text"],
input[type="tel"],
textarea {
    background-color: transparent;
    border: none;
    width: 780px;
}
