/*글꼴, 글자 색상*/
*{
    font-family: 'Myanmar Khyay';
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #0069A4, #02151f 33%);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    display: grid;
    height: 100%;
    place-items: center;
}
body::-webkit-scrollbar {
    width: 0px;
  }
.background {
    height: 170vh;
    position: fixed;
    top: -150px;
    right: -150px;
    width: auto;
    z-index: -1;
}
/* 해당 페이지 이름 */
#page-name{
    position: absolute;
    left: 100px;
    top: 90px;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: white;

}
/*인풋 밑줄*/
/*여기 있던거 join.css로 옮겼습니다.*/
/*버튼*/
#bt_sub {
    background: linear-gradient(to left, rgb(0, 4, 5), transparent);
    color: white;
    padding: 10px 20px;
    border:none;
    
    border-radius: 10px;
}
/* footer 설정 */
#wrapper{
    width: 100%;
    min-height: calc(100vh - 100px);
  }
footer{
    width: 100%;
    height: 100px;
    background-color: #0348703b;
    text-align: center;
  }
#copyright p{
    margin-top: 40px;
}

@media screen and (max-width:900px){
    
/* 백그라운드 이미지 */
.bg{
    position: fixed;
}
  .background {
      height: 100vh; /* 화면 높이의 100%로 설정 */
      width: 120%; /* 화면 너비의 100%로 설정 */
      object-fit: cover; /* 이미지 비율을 유지하면서 적절하게 잘라내기 */
      object-position: center top; /* 이미지를 가운데 상단에 위치시키기 */
      top: 13vh;
      left: -100px;
      position:fixed;
      z-index: -1;
    }
  
    #page-name{
        position: absolute;
        left: 50px;
        top: 70px;
        font-size: 10px;
        display: flex;
        align-items: center;
        text-align: justify;
        color: white;
    
    }
}