.container{
    overflow: hidden;
    width: 80%; /* 전체 화면의 80%를 차지하도록 설정 */
    justify-content: center;
    padding-top: 30px;
}
.formbox{
    float:left;
    width: 70%; 
    line-height: 30px;
    margin-top: 50px;
}
.bt_box{
    width: 20%;
    float: right;    
}
#bt_sub{
    margin-top:250px;
    margin-left: 60px;
}
/*인풋 밑줄*/
label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
    color: white;
}

input[type="text"],
input[type="tel"],
textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    border-image: linear-gradient(to right, skyblue, transparent);
    border-image-slice: 1;
    width: 780px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
textarea:focus {
    outline: none;
    border-bottom: 2px solid deepskyblue;
}
/*버튼*/
#bt_sub {
    background: linear-gradient(to left, rgb(0, 4, 5), transparent);
    color: white;
    padding: 10px 20px;
    border:none;
    
    border-radius: 10px;
}

@media screen and (max-width:900px){
        /*모바일용 css*/
        .container{
        width: 80%; /* 전체 화면의 80%를 차지하도록 설정 */
        justify-content: center;
        padding-top: 30px;
        
    }
    .formbox{
        display: inline-block;
        width: 100%; 
        line-height: 30px;
        margin-top: 30px;
    }
    .bt_box{
        display: inline-block;
        width: 100%;
        justify-content: center;   
    }
    #bt_sub{
    margin-top:30px;
    margin-bottom: 50px;
    margin-left: 115px;
    }
        
    }