.container-info{
    display: flex;
    width:100%;
    flex-direction: column;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 250px;
    margin-left: 100px;
}
#photo{
    display: flex;
    flex-direction: column; /* 요소들을 세로로 배치 */
    justify-content: center; /* 수직으로 가운데 정렬 */
    align-items: center; /* 수평으로 가운데 정렬 */
}
#photo .no-edit{
    margin: 0 35px 40px 35px;
}
#select-photo{
    margin-top: 20px;
    margin-left:70px;
}
#profile-photo{
    border-radius: 50%;
    width: 250px;
    height:250px;
}
#userInfo{
    float: left;
    width: 500px;
    font-size: 15px;
    align-items: center;
    text-align: justify;
    color: white;
    padding-left:30px;
    margin-top:20px;
}
#userInfo div {
    margin-bottom: 20px;
}
#userInfo h2{
    margin-bottom: 50px;
}
.btn-edit{
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.300) ;
    width: 110px;
    height: 45px;
    font-size: 20px;
    align-items: center;
    justify-content: center;/*display: flex면 text-align: center 적용 안됨*/
    background-color: #133A56;
    border: 0;
    color: white;
    float: right;
   
}
.btn-logout{
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.300) ;
    width: 110px;
    height: 45px;
    font-size: 20px;
    align-items: center;
    justify-content: center;/*display: flex면 text-align: center 적용 안됨*/
    background-color: #133A56;
    border: 0;
    color: white;
    float: right;
    margin-top:210px;
    margin-right:100px;
}



@media screen and (max-width:900px){
    .info{
        display: flex;
        flex-direction: column; /* 요소들을 세로로 배치 */
        justify-content: center; /* 수직으로 가운데 정렬 */
        align-items: center; /* 수평으로 가운데 정렬 */
        margin: 170px 0 0 0;
    }
    #profile-photo{
        width: 170px;
        height:170px;
    }
    
    #userInfo{
        font-size: 10px;
        display: flex;
        flex-direction: column; /* 요소들을 세로로 배치 */
        justify-content: center; /* 수직으로 가운데 정렬 */
        align-items: center; /* 수평으로 가운데 정렬 */
        text-align: center;
        padding:0;
        margin:0;
    }
    #userInfo h2{
        margin-bottom: 20px;
    }
    .btn-edit{
        width: 60px;
        height: 30px;
        font-size: 12px;
        margin-left: 250px;
    }
    .btn-logout{
        width: 60px;
        height: 30px;
        font-size: 12px;
        margin-top:50px;
        margin-right:70px;
    }
    
}