a{
  text-decoration: none;
  color: white;
} 
.nav_menu li:hover{
  background-color: #47aee931;
}
.navbar{
  display: flex;
  position: fixed;/*상단 고정*/
  width: 100%;
  justify-content: space-between;
  background-color: #17212F;
  color: white;
  z-index: 1;
}
.nav_logo {
  height: 60px;
  padding-left: 40px;
  font-size: 30px;
  line-height: 60px;
}
.nav_logo h5{
  margin: 0;
}
.nav_menu{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 17px 0;
  padding-left: 0;
  padding-right:20px;
  
}
.nav_menu li{
  text-align: center;
  font-size: 20px;
}
.nav_menu #etc{
  padding: 0 40px;
}
.join-btn{
  padding: 0 40px;
}
#submenu li {
  font-size: 15px;
  padding: 10px 0;
}
#submenu{
  list-style: none;
  padding: 10px 0 0 0;
  display: none;
}
.toggle-btn{
  color: white;
  position: absolute;
  right:15px;
  top:5px;
  font-size:30px;
  display: none;
}

@media screen and (max-width:900px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    margin:0;
  }
  .nav_logo {
    padding-left: 15px;
    font-size: 500;
  }
  .nav_menu{
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
    margin:0;    
  }
  .nav_menu li{
    text-align: center;
    padding-bottom:10px;
  }
  #submenu{
    display: none;
    padding: 0;
  }
  #submenu li{
    padding: 30px 0 0 0;
  }

  .toggle-btn{
    display: block;
  }  
  .toggle-btn.active{
    transform: rotate(45deg);
  }
}