.outerBox {
    margin-top: 30px;
    width: 1100px;
    height: 700px;
    position: relative;
    background-color: #1D4765;
    border-radius: 40px;
    
}

.innerBox {
    width: 1000px;
    height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0000007d;
    border-radius: 20px;
    display: flex; /* 요소들을 세로 방향으로 배치 */
    flex-direction: row; /* 요소들을 가로 방향으로 배치 */
    justify-content: center; /* 요소들을 가로 방향으로 중앙 정렬 */
    align-items: center; /* 요소들을 세로 방향으로 중앙 정렬 */

    overflow: hidden; /* profile 영역을 벗어나는 내용 숨김 */
    padding-top: 30px;
    /*padding-bottom: 30px;*/
    
}

.profile {
    width: 300px;
    height: 600px;
    margin-left: 40px;
    display: flex; /* 요소들을 세로 방향으로 배치 */
    flex-direction: column; /* 세로 방향으로 요소 배치 */
    justify-content: center; /* 세로 방향으로 중앙 정렬 */
    align-items: flex-start; /* 가로 방향으로 왼쪽 정렬 */
}

.profile img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    pointer-events: auto;
}

.profile h2 {
    color: white;
    margin-left: 20px;
}

.profile a {
    color: rgb(244, 244, 255);
    margin-left: 20px; /* 변경: 너무 오른쪽으로 밀리지 않도록 수정 */
}

.post {
    width: 700px;
    height: 600px;
    margin-left: 20px; /* 추가: profile과의 간격을 조절 */
    
    overflow: auto; /* post 영역을 벗어나면 스크롤이 활성화*/
}

.post img {
    width: 200px;
    height: 200px;
}