{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--css-->
    <link rel="stylesheet" href="{% static 'css/media_act.css'%}">
    <link rel="stylesheet" href="{% static 'css/people.css'%}">
    <!--js-->
    <script src="{% static 'js/showProfile.js' %}"></script>
    <script src="{% static 'js/addPerson.js' %}"></script>

    <!--people 화면-->
    <div id="page-name"><h1>people</h1></div>

    <div class="containe">
        <!--미리 추가되어 있는 버전-->
        <div class="person">
          <img src="{% static 'img/pic1.jpg' %}">
          <h2>이름1</h2>
          <a href="https://github.com/github1">깃허브링크1</a>
        </div>
        <div class="person">
            <img src="{% static 'img/pic1.jpg' %}">
          <h2>이름2</h2>
          <a href="https://github.com/github2">깃허브링크2</a>
        </div>
        <div class="person">
            <img src="{% static 'img/pic1.jpg' %}">
            <h2>이름3</h2>
            <a href="https://github.com/github2">깃허브링크3</a>
        </div>
        <div class="person">
            <img src="{% static 'img/pic1.jpg' %}">
            <h2>이름4</h2>
            <a href="https://github.com/github2">깃허브링크4</a>
        </div>
        <div id="personList"></div>
    </div>
    
{% endblock %}
