{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/media_act.css'%}">
    <!--js-->
   
    <!-- 마이 페이지 메인 -->
    <!-- 프로필 사진 -->
    <div><img src={% if person.profile.image %}"{{ person.profile.image.url }}"{% else %}"https://i.stack.imgur.com/34AD2.jpg"{% endif %} width="150rem" style="border-radius: 50%;" alt=""></div>
    <!-- 유저 정보 -->
    <div>
        <h2>{{ person.username }}
            {% if person.username == user.username %}
            <a href="{% url 'accounts:profile' %}"><button class="btn btn-success">프로필 편집</button></a>
            {% endif %}
            <!-- 다음 포스트에 프로필 편집 페이지를 구성할 것이다. -->
        </h2>
        <p>{{ person.profile.nickname }}</p>
        <p>{{ person.profile.description }}</p>
    </div>

    <!-- 수정하기 버튼 -->
    <a href="{% url 'mypage:mypage_edit' %}">Edit</a>

    <!-- 로그아웃 버튼 버튼 -->
{% endblock %}