{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEMORE+</title>
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css'%}">
    <!--js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="{% static 'js/mNav.js' %}"></script>
    {% if not_date %}
        <script src="{% static 'js/already.js' %}" data-not-date="{{ not_date|yesno:"true,false" }}"></script>
    {% endif %}
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="nav_logo"><a href="{% url 'pageapp:index'%}"><h5>BEMORE+</h5></a></div>
            <div class="mNav">
                <div class="icon_wrap">
                    <div class="icon"></div>
                </div>
           </div>
            <ul class="nav_menu">
                <li><a href="{% url 'activity:project'%}">activity</a></li><!--활동 게시판-->
                <li><a href="{% url 'peopleApp:show_people' %}">people</a></li><!--동아리원 소개 페이지-->
                <li class="click_login"><a href="{% url 'accounts:login' %}">login</a>
                    <ul class="submenu">
                        <li class="submenu1"><a href="{% url 'mypage:mypage' username=request.user.username %}">mypage</a></li>
                    </ul>
                </li>
                <li class="click_join">join
                    <ul class="submenu">
                        <li><a href="{% url 'pageapp:login' %}">합격자 조회</a></li>
                        <li><a href="{% url 'joinFormapp:show_joinForm' %}">지원서 제출</a></li>
                    </ul>
                </li>
            </ul>

        </nav>
    </header>
    {% block content %}

    {% endblock%}
    <footer id="email">
        <p>ssubemore@gmail.com</p>
    </footer>
</body>

    
</html>
